addict==2.4.0
gradio==3.24.1
importlib_resources==6.4.0
lightning==2.3.3
linkify-it-py==2.0.3
opencv-python==4.10.0.84
pycocotools==2.0.8
ruff==0.5.7
segment-anything==1.0
supervision==0.22.0
timm==1.0.8
tomlkit==0.12.0
torchaudio==2.4.0+cu118
transformers==4.24.0
typer==0.12.3
wheel==0.38.4
yapf==0.40.2
